.education {
    margin: 2rem 8.5rem; /* Adjust margin as needed */
}

.education h2 {
    font-size: 2rem;
    color: #00E8F8;
    margin-bottom: 1rem;
}

.education-details {
    display: flex;
    flex-direction: column;
}

.education-item {
    margin-bottom: 1rem;
}

.education-item h3 {
    font-size: 1.5rem;
    color: #fff;
}

.education-item p {
    font-size: 1rem;
    color: #fff;
}
P{
    font-size:30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h2,h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}