.projects {
    margin: 2rem 8.5rem; /* Adjust margin as needed */
}

.projects h2 {
    font-size: 2rem;
    color: #00E8F8;
    margin-bottom: 1rem;
}

.project-details {
    display: flex;
    flex-direction: column;
}

.project-item {
    margin-bottom: 1rem;
}

.project-item h3 {
    font-size: 1.5rem;
    color: #fff;
}

.project-item p {
    font-size: 1rem;
    color: #fff;
}
h3{
    font-size: 2rem;
    color: #00E8F8;
    margin-bottom: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}